#general-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#current-capybara-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#current-capybara {
    width: 100%;
    border-radius: 40px;
}

#capybara-changes-interface {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.parameter-to-change {
    font-size: 24px;
    margin: 0 20px;
}

.selection-arrow {
    font-size: 20px;
}

#submit-capybara {
    background-color: #C87629;
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}